* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #555;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff8c00;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.pizza-card {
    width: 300px;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.pizza-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.pizza-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-top: 10px;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

button {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff6600;

}



.menu {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}

.menu h2 {
    font-size: 28px;
    color: #333;
}

.about {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}

.about h2 {
    font-size: 28px;
    color: #333;
}

.contact {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}

.contact h2 {
    font-size: 28px;
    color: #333;
}

address {
    font-style: normal;
}



footer {
    background-color: #010101;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
}